# 设置* text=auto的话，一般情况下没问题，但是如果git配置了safecrlf = true，就会导致问题
# * text=auto
# 设置* text eol=crlf，即设置成和.editorconfig的end_of_line一样的值，就会不管是win还是mac，都统一
# 使用eol设置的换行符，就不会有换行符的问题了（不会受autocrlf和safecrlf的影响）
* text eol=crlf
